@charset "UTF-8"

/*H1 - #185566
BORDAS DIV - box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37), 2px solid lightblue
Fundo H2 - to Left, lightblue, #07ABD9, #185566, #022E3B  
Fundo H3 - rgb(229, 238, 241), rgb(207, 235, 245), lightblue, #07ABD9
*/

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
}

p {
    padding-bottom: 1px;
    text-indent: 5px;

}

p.paragrafo {
    margin-top: 10px;
}

div {
    border-radius: 7px;
    border: 2px solid lightblue;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37);
}

div > h1 {
    color: #185566;
    font-weight: bolder;
    font-size: 1.9em;

    position: absolute;
    top: 2%;
    left: 27%;
    transform: translate(20%, -30%);
}

div#cabeçalho {
    width: 385px;
    height: 230px;
    margin: auto;
    background-color: white;
}

div > h4#concluido {
    font-size: 1.4em;

    position: absolute;
    top: 6%;
    left: 25%;
    transform: translate(40%, -30%);
}

div#foto {
    height: 125px;
    width: 95px;
    margin-top: 20px;
    padding-top: 20px;
    background-image: url(imagem/Aurora\ Boreal\ 650.jpg);
    background-repeat: no-repeat;

    position: absolute;
    top: 5%;
    left: 4%;
}

ul {
    position: absolute;
    top: 15%;
    left: 7%;
    transform: translate(25%, -30%);
}

ul > li {
    padding-bottom: 8px;
}

h2 {
    margin: auto;
    margin-bottom: 0px;
    height: 10px;
    padding-bottom: 7px;
    font-size: 1.4em;
    color: white;
    background-image: linear-gradient(to Left, lightblue, #07ABD9, #185566, #022E3B);
}

h3 {
    font-size: 1.3em;
    height: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-top: 0px;
    background-image: linear-gradient(to Left, rgb(229, 238, 241), rgb(207, 235, 245), lightblue, #07ABD9);
    
}

div#pessoais {
    width: 385px;
    height: 205px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}


div#objetivo {
    height: 76px;
    width: 395px;
    margin: auto;
    margin-top: 10px;
    background-color: white; 
}

div#caracteristicas {
    width: 385px;
    height: 147px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#java {
    width: 385px;
    height: 166px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#html {
    width: 385px;
    height: 142px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#excel {
    width: 385px;
    height: 142px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#fatec {
    width: 385px;
    height: 117px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#micro {
    width: 385px;
    height: 117px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#gestao {
    width: 385px;
    height: 117px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#ingles {
    width: 385px;
    height: 117px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#patru {
    width: 385px;
    height: 117px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#linx {
    width: 385px;
    height: 164px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#selecont {
    width: 385px;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#latina {
    width: 385px;
    height: 164px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 50px;
}

@media screen and (min-width: 850px) and (max-width: 1200px) {

    body {
        font-size: 1.1em;
    }

    div#foto {
        width: 240px;
        height: 215px;

        position: absolute;
        top: 7%;
        left: 9%;
    }

    div#cabeçalho {
        width: 970px;
        height: 350px;
    }

    div > h4#concluido {
        font-size: 1.4em;

        position: absolute;
        top: 8%;
        left: 40%;
        transform: translate(15%, -30%);
    }

    div > h1 {
        font-size: 2em;

        position: absolute;
        top: 1%;
        left: 24%;
        transform: translate(45%, -30%);
    }

    ul {
        position: absolute;
        top: 19%;
        left: 40%;
        transform: translate(0%, -30%);
    }

    h2 {
        margin-bottom: 0px;
        height: 25px;
        font-size: 1.5em;
    }

    h3 {
        height: 18px;
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    div#pessoais {
        width: 970px;
        height: 365px;
    }
    
    div#objetivo {
        width: 970px;
        height: 120px;
    }
    
    div#caracteristicas {
        width: 970px;
        height: 237px;
    }
    
    div#java {
        width: 970px;
        height: 270px;
    }
    
    div#html {
        width: 970px;
        height: 238px;
    }
    
    div#excel {
        width: 970px;
        height: 238px;
    }
    
    div#fatec {
        width: 970px;
        height: 200px;
    }
    
    div#micro {
        width: 970px;
        height: 200px;
    }
    
    div#gestao {
        width: 970px;
        height: 200px;
    }
    
    div#ingles {
        width: 970px;
        height: 200px;
    }
    
    div#patru {
        width: 970px;
        height: 200px;
    }
    
    div#linx {
        width: 970px;
        height: 253px;
    }
    
    div#selecont {
        width: 970px;
        height: 241px;
    }
    
    div#latina {
        width: 970px;
        height: 246px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1700px) {

    body {
        font-size: 1.3em;
    }

    div#foto {
        width: 260px;
        height: 279px;

        position: absolute;
        left: 13%;
        top: 10%;
    }

    div#cabeçalho {
        width: 1250px;
        height: 440px;
    }

    div > h4#concluido {
        font-size: 1.4em;

        position: absolute;
        top: 9%;
        left: 36%;
        transform: translate(15%, -30%);
    }

    div > h1 {
        font-size: 2em;

        position: absolute;
        top: 1%;
        left: 29%;
        transform: translate(45%, -30%);
    }

    ul {
        position: absolute;
        top: 24%;
        left: 36%;
        transform: translate(0%, -30%);
    }

    ul > li {
        font-size: 1.2em;
    }

    h2 {
        margin-bottom: 0px;
        height: 32px;
        font-size: 1.5em;
    }

    h3 {
        height: 25px;
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    div#pessoais {
        width: 1250px;
        height: 370px;
    }
    
    div#objetivo {
        width: 1250px;
        height: 115px;
    }
    
    div#caracteristicas {
        width: 1250px;
        height: 275px;
    }
    
    div#java {
        width: 1250px;
        height: 316px;
    }
    
    div#html {
        width: 1250px;
        height: 275px;
    }
    
    div#excel {
        width: 1250px;
        height: 275px;
    }
    
    div#fatec {
        width: 1250px;
        height: 228px;
    }
    
    div#micro {
        width: 1250px;
        height: 228px;
    }
    
    div#gestao {
        width: 1250px;
        height: 228px;
    }
    
    div#ingles {
        width: 1250px;
        height: 228px;
    }
    
    div#patru {
        width: 1250px;
        height: 228px;
    }
    
    div#linx {
        width: 1250px;
        height: 295px;
    }
    
    div#selecont {
        width: 1250px;
        height: 280px;
    }
    
    div#latina {
        width: 1250px;
        height: 288px;
    }

}

@media screen and (min-width: 1700px) {
    body {
        font-size: 1.3em;
    }

    div#foto {
        width: 260px;
        height: 279px;

        position: absolute;
        left: 20%;
        top: 10%;
    }

    div#cabeçalho {
        width: 1250px;
        height: 440px;
    }

    div > h4#concluido {
        font-size: 1.4em;

        position: absolute;
        top: 9%;
        left: 35%;
        transform: translate(15%, -30%);
    }

    div > h1 {
        font-size: 2em;

        position: absolute;
        top: 1%;
        left: 32%;
        transform: translate(45%, -30%);
    }

    ul {
        position: absolute;
        top: 24%;
        left: 36%;
        transform: translate(0%, -30%);
    }

    ul > li {
        font-size: 1.2em;
    }

    h2 {
        margin-bottom: 0px;
        height: 32px;
        font-size: 1.5em;
    }

    h3 {
        height: 25px;
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    div#pessoais {
        width: 1250px;
        height: 370px;
    }
    
    div#objetivo {
        width: 1250px;
        height: 115px;
    }
    
    div#caracteristicas {
        width: 1250px;
        height: 275px;
    }
    
    div#java {
        width: 1250px;
        height: 316px;
    }
    
    div#html {
        width: 1250px;
        height: 275px;
    }
    
    div#excel {
        width: 1250px;
        height: 275px;
    }
    
    div#fatec {
        width: 1250px;
        height: 228px;
    }
    
    div#micro {
        width: 1250px;
        height: 228px;
    }
    
    div#gestao {
        width: 1250px;
        height: 228px;
    }
    
    div#ingles {
        width: 1250px;
        height: 228px;
    }
    
    div#patru {
        width: 1250px;
        height: 228px;
    }
    
    div#linx {
        width: 1250px;
        height: 295px;
    }
    
    div#selecont {
        width: 1250px;
        height: 280px;
    }
    
    div#latina {
        width: 1250px;
        height: 288px;
    }
}

@media print {
    div > h4#concluido {
        font-size: 1.4em;

        position: absolute;
        top: 6%;
        left: 31%;
        transform: translate(15%, -30%);
    }

    div > h1 {
        font-size: 2em;

        position: absolute;
        top: 1%;
        left: 15%;
        transform: translate(45%, -30%);
    }

    ul {
        position: absolute;
        top: 15%;
        left: 27%;
        transform: translate(0%, -30%);
    }

    div#foto {
        width: 100px;
        height: 125px;

        position: absolute;
        left: 7%;
        top: 5%;
    }

    div#cabeçalho {
        width: 385px;
        height: 205px;
    }

    div#pessoais {        
        height: 197px;
    }
    
    div#objetivo {
        width: 385px;       
        height: 67px;
    }
    
    div#caracteristicas {
        width: 385px;
        height: 135px;
    }
    
    div#java {
        height: 145px;
    }
    
    div#html {       
        height: 130px;
    }
    
    div#excel {
        height: 130px;
    }
    
    div#fatec {      
        height: 110px;
    }
    
    div#micro {  
        height: 110px;
    }
    
    div#gestao {       
        height: 110px;
    }
    
    div#ingles {       
        height: 110px;
    }
    
    div#patru {
        height: 110px;
    }
    
    div#linx {
        height: 150px;
    }
    
    div#selecont {
        height: 142px;
    }
    
    div#latina {
        height: 153px;
    }
}