@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

p {
    padding-bottom: 1px;

}

p.paragrafo {
    margin-top: 10px;
}

div {
    border-radius: 7px;
    border: 2px solid lightblue;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37);
}

div > h1 {
    color: #185566;
    font-weight: bolder;
    text-decoration: underline;

    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-20%, -30%);
}

div#cabeçalho {
    width: 1200px;
    height: 348px;
    margin: auto;
    background-color: white;
}

div > h4#concluido {
    font-size: 25px;
    
    position: absolute;
    top: 9%;
    left: 28%;
    transform: translate(39%, -30%);
}

div#foto {
    width: 300px;
    height: 288px;
    margin-top: 20px;
    padding-top: 20px;
    background-image: url(imagem/Aurora\ Boreal\ 650.jpg);
    background-repeat: no-repeat;
}

ul {
    position: absolute;
    left: 50%;
    top: 21%;
    transform: translate(-46%, -30%);
}

ul > li {
    padding-bottom: 8px;
}

h2 {
    margin: auto;
    margin-bottom: 0px;
    height: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    color: white;
    background-image: linear-gradient(to Left, lightblue, #07ABD9, #185566, #022E3B);
}

h3 {
    padding-bottom: 12px;
    font-size: 21px;
    height: 17px;
    margin-bottom: 10px;
    margin-top: 0px;
    background-image: linear-gradient(to Left, rgb(229, 238, 241), rgb(207, 235, 245), lightblue, #07ABD9);
    
}

div#pessoais {
    width: 1200px;
    height: 340px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}


div#objetivo {
    width: 1200px;
    height: 111px;
    margin: auto;
    margin-top: 10px;
    background-color: white; 
}

div#caracteristicas {
    width: 1200px;
    height: 254px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#java {
    width: 1200px;
    height: 294px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#html {
    width: 1200px;
    height: 255px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#excel {
    width: 1200px;
    height: 255px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#fatec {
    width: 1200px;
    height: 214px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#micro {
    width: 1200px;
    height: 214px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#gestao {
    width: 1200px;
    height: 214px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#ingles {
    width: 1200px;
    height: 214px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#patru {
    width: 1200px;
    height: 214px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#linx {
    width: 1200px;
    height: 278px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#selecont {
    width: 1200px;
    height: 262px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

div#latina {
    width: 1200px;
    height: 261px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 50px;
}

@media screen and (max-width: 760px) {
    body {
        font-size: 1em;
    }

    div#foto {
        height: 222px;
        width: 175px;
    }

    div#cabeçalho {
        height: 440px;
    }

    div > h4#concluido {
        font-size: 1.4em;

        position: absolute;
        top: 8%;
        left: 43%;
        transform: translate(40%, -30%);
    }

    div > h1 {
        font-size: 2em;

        position: absolute;
        top: 0%;
        left: 28%;
        transform: translate(50%, -30%);
    }

    ul {
        position: absolute;
        top: 25%;
        left: 25%;
        transform: translate(28%, -30%);
    }

    h2 {
        font-size: 1.5em;
        height: 10px;
    }

    h3 {
        font-size: 1.2em;
        height: 11px;
    }

    div#pessoais {
        height: 287px;
    }
    
    
    div#objetivo {
        height: 95px;
        
    }
    
    div#caracteristicas {
        height: 220px;
        
    }
    
    div#java {
        height: 250px;
    }
    
    div#html {
        height: 220px;
    }
    
    div#excel {
        height: 220px;
    }
    
    div#fatec {
        height: 184px;
    }
    
    div#micro {
        height: 184px;
    }
    
    div#gestao {
        height: 184px;
    }
    
    div#ingles {
        height: 184px;
    }
    
    div#patru {
        height: 184px;
    }
    
    div#linx {
        height: 230px;
    }
    
    div#selecont {
        height: 200px;
    }
    
    div#latina {
        height: 220px;
    }
    
}

@media screen and (min-width: 760px) and (max-width: 992px) {
    body {
        font-size: 1em;
    }

    div#foto {
        height: 230px;
        width: 188px;
    }

    div#cabeçalho {
        height: 330px;
    }

    div > h4#concluido {
        font-size: 1.4em;

        position: absolute;
        top: 9%;
        left: 32%;
        transform: translate(5%, -30%);
    }

    div > h1 {
        font-size: 2em;

        position: absolute;
        top: 0%;
        left: 30%;
        transform: translate(22%, -30%);
    }

    ul {
        position: absolute;
        top: 22%;
        left: 33%;
        transform: translate(-3%, -30%);
    }

    h2 {
        font-size: 1.4em;
        height: 10px;
    }

    h3 {
        font-size: 1.2em;
        height: 13px;
    }

    div#pessoais {
        height: 287px;
    }
    
    
    div#objetivo {
        height: 95px;
        
    }
    
    div#caracteristicas {
        height: 220px;
        
    }
    
    div#java {
        height: 250px;
    }
    
    div#html {
        height: 220px;
    }
    
    div#excel {
        height: 220px;
    }
    
    div#fatec {
        height: 184px;
    }
    
    div#micro {
        height: 184px;
    }
    
    div#gestao {
        height: 184px;
    }
    
    div#ingles {
        height: 184px;
    }
    
    div#patru {
        height: 184px;
    }
    
    div#linx {
        height: 230px;
    }
    
    div#selecont {
        height: 200px;
    }
    
    div#latina {
        height: 220px;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        font-size: 1.2em;
    }

    div#foto {
        height: 250px;
        width: 265px;
    }

    div#cabeçalho {
        height: 350px;
    }

    div > h4#concluido {
        font-size: 1.4em;

        position: absolute;
        top: 7%;
        left: 30%;
        transform: translate(10%, -30%);
    }

    div > h1 {
        font-size: 2em;

        position: absolute;
        top: 0%;
        left: 30%;
        transform: translate(45%, -30%);
    }

    ul {
        position: absolute;
        top: 22%;
        left: 30%;
        transform: translate(0%, -30%);
    }

    h2 {
        font-size: 1.5em;
        height: 10px;
    }

    h3 {
        font-size: 1.2em;
        height: 11px;
    }

    div#pessoais {
        height: 340px;
    }
    
    
    div#objetivo {
        height: 110px;
        
    }
    
    div#caracteristicas {
        height: 255px;
        
    }
    
    div#java {
        height: 285px;
    }
    
    div#html {
        height: 260px;
    }
    
    div#excel {
        height: 260px;
    }
    
    div#fatec {
        height: 217px;
    }
    
    div#micro {
        height: 215px;
    }
    
    div#gestao {
        height: 215px;
    }
    
    div#ingles {
        height: 215px;
    }
    
    div#patru {
        height: 215px;
    }
    
    div#linx {
        height: 268px;
    }
    
    div#selecont {
        height: 258px;
    }
    
    div#latina {
        height: 257px;
    }
}

@media screen and (min-width:1200px) {
    body {
        font-size: 1.2em;
    }

    div#foto {
        height: 280px;
        width: 285px;
    }

    div#cabeçalho {
        height: 360px;
    }

    div > h4#concluido {
        font-size: 1.4em;

        position: absolute;
        top: 7%;
        left: 32%;
        transform: translate(-6%, -30%);
    }

    div > h1 {
        font-size: 2em;

        position: absolute;
        top: 0%;
        left: 30%;
        transform: translate(35%, -30%);
    }

    ul {
        position: absolute;
        top: 25%;
        left: 35%;
        transform: translate(-8%, -30%);
    }

    h2 {
        font-size: 1.5em;
        height: 10px;
    }

    h3 {
        font-size: 1.2em;
        height: 11px;
    }

    div#pessoais {
        height: 340px;
    }
    
    
    div#objetivo {
        height: 110px;
        
    }
    
    div#caracteristicas {
        height: 255px;
        
    }
    
    div#java {
        height: 285px;
    }
    
    div#html {
        height: 260px;
    }
    
    div#excel {
        height: 260px;
    }
    
    div#fatec {
        height: 217px;
    }
    
    div#micro {
        height: 215px;
    }
    
    div#gestao {
        height: 215px;
    }
    
    div#ingles {
        height: 215px;
    }
    
    div#patru {
        height: 215px;
    }
    
    div#linx {
        height: 268px;
    }
    
    div#selecont {
        height: 258px;
    }
    
    div#latina {
        height: 257px;
    }
}